.show-orders {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.orders-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-list {
    list-style-type: none;
    padding: 0;
}

.order-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.order-info {
    display: flex;
    flex-direction: column;
}

.order-info > div {
    margin-bottom: 5px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination .page-item .page-link {
    color: #007bff;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}
